<configuration>
	<appender name="AMQP" class="se.pp.gustafson.marten.logback.appender.AmqpAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%msg</Pattern>
		</layout>
		<host>127.0.0.1</host>
		<port>5672</port>
		<username>guest</username>
		<password>guest</password>
		<virtualHost>/</virtualHost>
		<exchange>exchange</exchange>
		<key>key</key>
		<useLevelAsKey>false</useLevelAsKey>
		<useLevelAsPriority>false</useLevelAsPriority>
		<deliveryMode/>
		<encoding/>
		<contentType/>
		<persitent>false</persitent>
	</appender>

	<root level="ALL">
		<appender-ref ref="AMQP" />
	</root>
</configuration>